.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two {
    display: flex;
        flex-direction: row;
    justify-content: space-between;
}

.three li {
    display: inline;
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-items: flex-start;*/
    }

/*.three div {*/
/*    align-items: end;*/
/*}*/



/*div {*/
/*    flex-direction: end;*/

/*}*/
/*.three div {*/
/*    flex-direction: row;*/
/*    justify-content: end;*/
/*}*/

/* Test moet naar het midden */

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 300px;
    padding: 50px;
    position: relative;

}

/*div {*/

/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/


/*form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/

/*    position: relative;*/
/*}*/


/*}*/

/*.five {*/

/*    padding: 0;*/
/*    margin: 0;*/
/*    align-items: stretch;*/
/*}*/

.five {
    flex-grow: 4;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;

}

article {
    display: inline-block;
    width: 360px;
}